<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.gershik'skbd</string>
	<key>CFBundleName</key>
	<string>Gershik's kbd</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>KLInfo_English - Gershik</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gershik'skbd.english-gershik</string>
		<key>TISIntendedLanguage</key>
		<string>en-GB-oxendict</string>
	</dict>
	<key>KLInfo_Русская - Gershik</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<true/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.gershik'skbd.русская-gershik</string>
		<key>TISIntendedLanguage</key>
		<string>ru-RU</string>
	</dict>
</dict>
</plist>
